body{
    background-color: rgb(0, 255, 64);
    font-size: 2rem;
    font-weight: bolder;
}
h1{
    color: red;
    text-decoration: underline;
}
table{
    margin-bottom: 40px;
}
a{
    font-size: 3rem;
  
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 7px 7px 13px white;
}
i{
    margin-right: 9px;
    
}
td{
    color: black;
    text-align: center;
    background-color: rgb(42, 165, 108);
    border-radius: 8px;
    padding: 10px;
}